{% extends "cbng_reviewer/admin/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container">
        <h1>{{ edit.id }}</h1>
        <p>Flags:</p>
        <ul>
            <li>Status: {{ edit.get_status_display }}</li>
            <li>
                Overall classification:
                {% if edit.classification is not None %}
                    {{ edit.get_classification_display }}
                {% else %}
                    pending
                {% endif %}
            </li>
            <li><a href="https://en.wikipedia.org/w/index.php?diff={{ edit.id }}">View Diff</a></li>
            {% if edit.is_deleted %}
            <li>Revision or user has been deleted</li>
            {% endif %}
            {% if edit.has_training_data %}
            <li>Edit has training data: <a href="https://cluebotng-review.toolforge.org/api/v1/edit/{{ edit.id }}/dump-wpedit/">View WPEdit</a></li>
            {% else %}
            <li>Edit has no training data, if it is not deleted then the training data should be imported eventually</li>
            {% endif %}
        </ul>
        <p>Member of:</p>
        <ul>
            {% for edit_group in edit.groups.all %}
                <li>
                    <a href="{% url 'admin-edit-group' edit_group.id %}">{{ edit_group.contextual_name }}</a>
                    {% if edit_group.name == 'Legacy Report Interface Import' or edit_group.name == 'Report Interface Import' %}
                    (<a href="https://cluebotng.toolforge.org/?page=View&new_id={{ edit.id }}">Report</a>)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <p>Classifications:</p>
        <ul>
            {% for classification in classifications %}
                <li>{{ classification.get_classification_display }} by {{ classification.user.username }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
